.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.goodWord:valid {
  border: 2px solid #38a169;
}

.badWord:valid {
  border: 2px solid #aa3131;
}

.goodWord,
.badWord {
  margin: 5px;
}

.card {
  margin: 20px;
  width: 450px;
}

.cardbody {
  color: black;
  background-color: #cbd5e0;
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.words {
  display: flex;
  justify-content: space-evenly;
}

.goodContainer {
  border: 3px solid #38a169;
}

.badContainer {
  border: 3px solid #aa3131;
}

.badContainer,
.goodContainer {
  text-align: center;
  padding: 10px;
  border-radius: 15px;
}



.goodContainer {
  background-color: #f8f9fa; /* Светлый фон для контейнера */
  border-radius: 8px; /* Округлые углы */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень для объема */
  padding: 20px; /* Внутренний отступ */
  max-width: 300px; /* Максимальная ширина контейнера */
  margin: 20px auto; /* Отступы и центрирование */
  font-family: 'Arial', sans-serif; /* Шрифт */
}

.goodContainer * {
  margin: 0; /* Убираем поля для всех элементов внутри контейнера */
}

.goodContainer h2 {
  font-size: 1.5rem; /* Размер шрифта заголовка */
  color: #343a40; /* Цвет заголовка */
  margin-bottom: 10px; /* Отступ снизу */
}

.goodContainer p {
  font-size: 1rem; /* Размер шрифта элементов списка */
  color: #495057; /* Цвет текста элементов списка */
  padding: 8px; /* Внутренний отступ */
  background-color: #C6F6D5; /* Фон элементов списка */
  border: 1px solid #dee2e6; /* Граница элементов списка */
  border-radius: 4px; /* Округлые углы элементов списка */
  margin-top: 4px; /* Отступ между элементами */
  transition: background-color 0.3s ease; /* Плавный переход цвета фона */
}

.goodContainer p:hover {
  background-color: #e9ecef; /* Изменение цвета фона при наведении */
}