/* .wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; 
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.left,
.right {
  display: flex;
  align-items: center;
  width: 220px; 
  justify-content: space-around; 
}

.center {
  flex-grow: 1;
  display: flex;
  justify-content: center; 
  align-items: center;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

a:hover {
  color: #007bff;
} */

.wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; 
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.left,
.right {
  display: flex;
  flex-direction: row; 
  align-items: flex-start; 
}

.center {
  flex-grow: 1;
  display: flex;
  justify-content: center; 
  align-items: center;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;

  margin-right: 15px;  /* ЭТО ОТСТУПМЕЖДУ ССЫЛКАМИ!!! не удалять! */
}

/* a:hover {
  color: #007bff;
} */

